/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Playfair Display", Serif;
    --secondary-font: "Quattrocento", Serif;
    --primary-text-color: #585a47;
    /* Dark green */
    --primary-background-color: #eedada;
    /* light pink */
    --highlight: #83757e;
    /* Dark purple */
    --light-highlight: #bdafc3;
    /* Light purple */
    --second-light-highlight: #939883;
    /* Light green */
}

/* Global Styles */
.test-layout {
    border: 2px solid black;
    width: 100%;
    background-color: aqua;
    height: 25vh;
}

.test-layout-2 {
    border: 2px solid black;
    background-color: aqua;
    height: 25vh;
}

body {
    font-family: var(--secondary-font);
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    font-style: italic;
    color: var(--primary-text-color);
}

hr {
    width: 60%;
    justify-self: center;
    opacity: 1;
    border: none;
    border-top: 3px solid var(--highlight);
}

.text-upper {
    text-transform: uppercase;
}

.sub-header-font-size {
    font-size: 2rem;
}

.bold-text {
    font-weight: bold;
}

.border-right {
    border-right: 1px solid black;
}

/* This is for the Recent Concerts section and Calendar page. It adds a margin bottom when the cards go into 2 rows */
.top-row-card {
    margin-bottom: 24px
}

/* Button Styles*/
.primary-button {
    border: 2px solid var(--second-light-highlight);
    padding: 6px 8px;
    border-radius: 0.3rem;
    text-decoration: none;
    color: white;
    background-color: var(--second-light-highlight);
}

.primary-button:hover {
    border: 2px solid var(--light-highlight);
    padding: 6px 8px;
    border-radius: 0.3rem;
    text-decoration: none;
    color: var(--primary-text-color);
    background-color: var(--light-highlight);
}

/* Nav Bar Styles */
#navbar {
    background-color: var(--highlight);
}

#navbar .navbar-brand {
    font-family: var(--primary-font);
    font-style: italic;
}

#navbar .dropdown-menu {
    background-color: var(--highlight);
    padding-top: 0;
    padding-bottom: 0;
    border-color: transparent;
}

#navbar .dropdown-item:hover {
    background-color: var(--light-highlight);
    color: var(--primary-text-color);
    border-radius: 0.37rem;
}

#navbar .nav-button-container {
    align-self: left;
    margin-top: 1rem;
}

/* Header Styles */
#header {
    margin-bottom: 1.5rem;
}

#header .primary-button {
    font-size: 1.2rem;
}

#header .left-side {
    margin-bottom: 1rem;
}

.header-image-fit {
    max-height: 400px;
    object-fit: cover;
}

/* Services Styles */
#services {
    margin-bottom: 1.5rem;
}

.services-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

/* Reviews Styles */
#reviews {
    margin-bottom: 1.5rem;
}

.reviews-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.review-box {
    justify-items: center;
    padding-top: 10px;
}

/* Landmark Concerts Styles */
#recent-concerts {
    margin-bottom: 1.5rem;
}

#recent-concerts h2 {
    margin-bottom: 2rem;
}

#recent-concerts .card,
#recent-concerts .card-img-top {
    border-radius: 0px;
}

/* Newsletter Signup Styles */
#newsletter-signup .primary-button {
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Social Styles */
.icons {
    margin-right: 0.5rem;
    font-size: x-large;
}

/* Selected Excerpts Styles */
#links-excerpts ul {
    list-style: none;
    padding-left: 0px;
    text-decoration: underline;
}

#links-excerpts li:hover {
    list-style: none;
    padding-left: 0px;
    text-decoration: underline;
    color: var(--light-highlight);
}

.excerpt .text-center {
    margin-bottom: 1.5rem;
}

.excerpts-image {
    background-size: contain;
    width: 258px;
    background-position: center;
    margin: auto;
    display: block;
    margin-bottom: 2rem;
}

.excerpt h3 {
    text-align: center;
}

/* Calendar Styles */
#calendar .card,
#calendar .card-img-top {
    border-radius: 0px;
}

#calendar h2 {
    margin-bottom: 2rem;
}

#calendar hr {
    margin-bottom: 1.5rem;
}

/* Booking Form Styles */
#book-form input, #booking-type {
    width:100%;
    height:2rem;
}

#booking-message {
    width:100%;
}

#book-form fieldset {
    border:8px double var(--light-highlight);
    padding:0px 15px;
}

/* Media Queries */
/* Small sized screens (mobiles up, min width 576px) */
@media screen and (min-width: 576px) {

    /* Selected excerpts Styles */
    .excerpts-image {
        width: 75%;
        max-height: 372px;
    }
}

/* Medium sized screens (tablets up, min width 768px) */
@media screen and (min-width: 768px) {

    /* Services Styles */
    .services-box {
        width: 50%;
        height: 25vh;
        flex-shrink: 0;
    }

    /* Reviews Styles */
    .review-box {
        width: 33.3%;
        height: 25vh;
        flex-shrink: 0;
    }

    /* Selected Excerpts Styles */
    .excerpt .text-center {
        font-size: 1.5rem;
    }

    .excerpt h3 {
        text-align: left;
    }

    #romantic-music h3,
    #baroque-music h3 {
        text-align: right;
    }

}

/* Large sized screens (Small laptop up, min width 992px) */
@media screen and (min-width: 992px) {

    /* Nav Bar Styles */
    #navbar .nav-button-container {
        align-self: center;
        margin-top: 0rem;
    }

    /* Landmark Concerts Styles */
    #recent-concerts .top-row-card {
        margin-bottom: 0px
    }

    /* Selected Excerpts Styles */
    #romantic-music h3,
    #baroque-music h3 {
        text-align: right;
        padding-right: 60px;
    }

    /* Calendar Styles */
    #calendar .top-row-card {
        margin-bottom: 0px
    }
}

/* Extra Large sized screens (laptop up, min width 1200px) */
@media screen and (min-width: 1200px) {

    /* Header Styles */
    #header .left-side {
        margin-bottom: 0;
    }

    .rel-pos {
        position: relative;
    }

    .bottom-div {
        position: absolute;
        bottom: 0px;
    }

    /* Selected Excerpts Styles */
    #romantic-music h3,
    #baroque-music h3 {
        text-align: right;
        padding-right: 100px;
    }
}


/* Extra Extra Large sized screens (laptop up, min width 1400px) */
@media screen and (min-width: 1400px) {

    /* Selected Excerpts Styles */
    #romantic-music h3,
    #baroque-music h3 {
        text-align: right;
        padding-right: 115px;
    }
}